@import "../../../../scss/index.scss";

.fondo {
	float: left;
	width: 100%;

	.contenedorRegistro {
		float: left;
		width: 100%;
		position: relative;
		min-height: 100vh;
		height: auto;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		background-color: #F5F5F5;

		.seguro {
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
		.oscuro {
			float: left;
			width: 100%;
			padding: 20px;
			background-image: url("../../../../assets/images/fondoConfirmacion.png");
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			align-items: center;
			justify-content: center;

			.titulo {
				width: 100%;
				max-width: 120px;
			}
		}
		.row {
			float: left;
			width: 100%;
			max-width: 460px;

			.form {
				float: left;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				.ingresar {
					font-family: "Montserrat";
					font-weight: bold;
					font-size: 24px;
					color: #1b133a;
					margin: 20px 0px 0px;
				}
				
				.titulo {
					width: 100%;
					max-width: 700px;
					margin-bottom: 50px;
				}
				span {
					color: #003b8f;
					font-weight: 600;
					font-size: 14px;
					font-family: "Montserrat", sans-serif;
				}
				
				.login {
					font-family: "Montserrat";
					font-weight: 400;
					font-size: 18px;
					color: #1b133a;;
					margin: 0px !important;
					float: left;
					width: 100%;
					text-align: center;
					margin-bottom: 20px !important;
				}

				.cronometro {
					width: 100%;
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin: 0px 0px 20px;

					div {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						color: #003b8f !important;

						h1 {
							color: #003b8f !important;
							font-family: "Montserrat";
							font-weight: bold;
							font-size: 30px;
							margin: 0px;
						}
						
						span {
							color: #003b8f !important;
							font-family: "Montserrat";
							font-weight: 600;
							font-size: 14px;
							margin: 0px;
						}
					}
				}

				.card {
					background: white;
					padding: 40px;
					width: 100%;
					border: 1px solid #dbdcdd;
					border-radius: 8px;
				}
			}
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 790px) {
	.fondo {
		.contenedorRegistro {
			padding: 0px 0px 50px !important;
			.row {
				padding: 0px 20px;
			}
		}
	}
}
