.standMediano {
	position: fixed;
	top: 0;
	right: -660px;
	bottom: 0px;
	width: 100%;
	max-width: 650px;
	background: #fff;
	overflow-y: scroll;
	z-index: 1000;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	transition-duration: all 0.5s;
	overflow-x: hidden;
}
.standMediano2 {
	position: fixed;
	top: 0;
	right: -660px;
	bottom: 0px;
	z-index: 991;
	width: 100%;
	max-width: 650px;
	background: #fff;
	overflow-y: scroll;
	z-index: 1000;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	transition-duration: all 0.5s;
}
.standMediano2 iframe {
	width: 100%;
	height: 100vh;
}
.standMediano2 .close {
	position: absolute;
	left: 50px;
	top: 20px;
	cursor: pointer;
	z-index: 9;
}
.standMediano .capa {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
}

.standMediano .header2 {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.standMediano .close {
	position: absolute;
	left: 50px;
	top: 20px;
	cursor: pointer;
	z-index: 9;
}
.standMediano .logotipo {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: 100px;
}
.standMediano .logotipo2 {
	position: absolute;
	bottom: 20px;
	left: 50px;
}
.standMediano .close2 {
	position: absolute;
	top: 70px;
	left: 50px;
	cursor: pointer;
	z-index: 9;
}
.standMediano .content2 {
	float: left;
	width: 100%;
	padding: 0px 50px;
}
.standMediano .content2 .transmission {
	float: left;
	width: 100%;
}
.standMediano .content2 h2 {
	float: left;
	width: 100%;
	font-size: 18px;
	color: #2d2d2d;
	font-weight: 700;
}
.standMediano .content2 p {
	float: left;
	width: 100%;
	font-size: 14px;
	margin-bottom: 30px;
	color: #2d2d2d;
	font-weight: 400;
}

.standMediano .boton {
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}
.standMediano .boton a {
	width: 275px;
	height: 35px;
	border-radius: 100px;
	text-align: center;
	line-height: 35px;
	color: white;
	background: linear-gradient(to right, #380156, #3360a2);
}
.standMediano .foot {
	float: left;
	width: 100%;
	padding: 0px 50px;
	display: flex;
	align-items: center;
	height: 50px;
	background: #380b5d;
}
.standMediano .botones {
	float: left;
	width: 100%;
	margin-bottom: 120px;
	padding: 0 10px;
}
.standMediano .botones .mitad {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px 0 0;

	&:nth-child(even) {
		padding: 0;
	}
}
.standMediano .botones .mitad:first-child {
	margin-left: 0px;
}
.standMediano .botones button {
	height: 55px;
	float: left;
	width: 100%;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
	cursor: pointer;
}
.standMediano .botones .btn1 {
	float: left;
	width: 100%;
	background: #f06f38;
}
.standMediano .botones .cotizar {
	float: left;
	width: 100%;
	background: #247eda;
}
.standMediano .botones .mitad .btn2 {
	float: left;
	width: 100%;
	background-color: #54b656;
}
.standMediano .botones .mitad .btn3 {
	float: left;
	width: 100%;
	background: #ed3d6d;
}
.standMediano .foot2 {
	float: left;
	width: 100%;
	max-width: 650px;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #380b5d;
	position: fixed;
	height: 60px;
	bottom: 0px;
	z-index: 999;
}
.standMediano .foot2 .itemFooter {
	display: flex;
	align-items: center;
}
.standMediano .foot2 .itemFooter a {
	color: white !important;
	padding-left: 10px;
}
.standMediano .imagenes2 {
	float: left;
	width: calc(100% + 10px);
	position: relative;
	margin-bottom: 100px;
	transform: translateX(-5px);
}
.standMediano .imagenes2 .audio {
	float: left;
	width: 100%;
}
.standMediano .imagenes2 .imagen {
	float: left;
	width: calc(50% - 10px);
	margin-left: 10px;
	margin-right: 10px;
}
.standMediano .imagenes2 .imagen {
	height: auto;
	padding: 0px 5px;
}
.standMediano .imagenes2 .imagen img {
	height: auto;
}
.standMediano .imagenes2 .imagen:first-child {
	margin-left: 0px;
}
.standMediano .imagenes {
	float: left;
	width: calc(100% + 10px);
	position: relative;
	left: -5px;
	margin-bottom: 90px;
}
.standMediano .imagenes .audio {
	float: left;
	width: 100%;
}
.standMediano .imagenes .imagen {
	float: left;
	width: calc(50% - 10px);
	margin-left: 20px;
}
.standMediano .imagenes .imagen {
	height: auto;
	padding: 0px 5px;
}
.standMediano .imagenes .imagen img {
	height: auto;
}
.standMediano .imagenes .imagen:first-child {
	margin-left: 0px;
}
.standMediano .slick-dots li.slick-active button {
	background: #333369(0, 0, 0);
}
.standMediano .slick-dots li button:before {
	opacity: 0;
}
.standMediano .slick-dots li.slick-active button {
	background: #333369;
}
.standMediano .slick-dots li.slick-active button:before {
	opacity: 0;
}
.standMediano .slick-dots li.slick-active button:hover {
	background: #333369;
}
.standMediano .slick-dots li button:hover {
	background: #333369;
}
.standMediano .slick-dots li button {
	float: left;
	color: #333369;
	width: 10px;
	height: 10px;
	border: 1px solid #333369;
	border: 1px solid #333369 !important;
	background: #ffffff;
	font-size: 1px;
	border-radius: 100%;
	cursor: pointer;
	padding: 5px;
}
body.stop {
	height: 100vh;
	overflow: hidden;
}
.fondoStand {
	position: fixed;
	left: 100vw;
	top: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
	right: 0px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.453);
}

.ant-carousel .slick-dots-bottom {
	top: 200px;
	margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 719px) {
	.horas div {
		float: left;
		width: calc((100%));
		margin-top: 0px;
		margin-right: 20px;
	}
	.horas {
		height: calc(100vh - 310px);
		overflow-y: scroll;
	}
	.horas div:nth-child(3n) {
		margin-right: 0px;
	}
	.tituloDialog h1 {
		font-size: 20px;
	}
	.ant-carousel .slick-dots-bottom {
		top: 130px;
		margin: 0;
	}
}
