@import "./variables";

@font-face {
  font-family: "Gelion Regular";
  src: url("../assets/fonts/GelionRegular.otf");
}
@font-face {
  font-family: "Gelion Regular Italic";
  src: url("../assets/fonts/GelionRegularItalic.otf");
}
@font-face {
  font-family: "Gelion Black";
  src: url("../assets/fonts/GelionBlack.otf");
}
@font-face {
  font-family: "Gelion Black Italic";
  src: url("../assets/fonts/GelionBlackItalic.otf");
}
@font-face {
  font-family: "Gelion Light";
  src: url("../assets/fonts/GelionLight.otf");
}
@font-face {
  font-family: "Gelion Light Italic";
  src: url("../assets/fonts/GelionLightItalic.otf");
}
@font-face {
  font-family: "Gelion Semi Bold";
  src: url(../assets/fonts/GelionSemiBold.otf);
}
@font-face {
  font-family: "Gelion Thin";
  src: url(../assets/fonts/GelionThin.otf);
}
